
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


:root{
    --sfondo: #D6F6DD;
    --grigio: #605B56;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--sfondo);
    color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease-in-out;
    gap: 2vh;
}


header {
    font-family: 'Merienda', cursive;
    padding: 10px 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    background-color: var(--sfondo);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: #FEA82F;
}

.titleGradient {
    font-size: 2em;
    font-weight: bold;
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.game-container {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.svg-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--sfondo);
    border-radius: 50%;
}

.svg-container svg {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
}

.sector {
    pointer-events: auto;
    transition: trasform 0.1s ease, fill 0.3s ease-in-out;
    cursor: pointer;
}

.sector:hover {
    fill: #65cdfd8c;
    cursor: pointer;
    transform: scale(1.03);
}


.dark-mode {
    background-color: #333;
    color: var(--sfondo);
}

.light-mode {
    background-color: var(--sfondo);
    color: var(--grigio);
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s;
    color:#FEA82F;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.theme-toggle:hover {
    background-color: #ddd;
}


/* Dark mode*/
.dark-mode header {
    background-color: #72A276;
}

.dark-mode .svg-container {
    background-color: #72A276;
}

.dark-mode .sector{
    fill: #72A276;
}

.dark-mode .sector:hover {
    fill: #65cdfd;
}

.dark-mode .mode-select{
    background-color: #72A276;
    color: #FEA82F;
}

.dark-mode select{
    background-color: #72A276;
    color: #FEA82F;
}



/*Message*/
.status-container {
    text-align: center;
    margin-top: 10px;
}

.status-message {
    font-size: 20px;
    margin: 10px 0;
}

.current-player {
    font-weight: bold;
    font-size: 24px;
}


/*Mode selector*/
.mode-select {
    text-align: center;
    padding: 1vh;
    border-radius: 15px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FEA82F;
    font-weight: bold;
}

select{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    color: #FEA82F;
    font-weight: bold;
    cursor: pointer;
}